In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [43]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [44]:
df.shape

(10000, 14)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [46]:
#deleting the unnecessary columns
df=df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [47]:
df.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [48]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [49]:
dummies=pd.get_dummies(df['Geography'])

In [50]:
df=pd.concat([df,dummies],axis=1)

In [51]:
df.drop('Geography', axis=1, inplace=True)

In [52]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [53]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [54]:
df.head(2)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,0,1

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
 9   Exited           10000 non-null  int64
 10  France           10000 non-null  uint8
 11  Germany          10000 non-null  uint8
 12  Spain            10000 non-null  uint8
dtypes: float64(2), int64(8), uint8(3)
memory usage: 810.7 KB

In [56]:
x=df.drop('Exited', axis=1)
y=df.Exited

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [60]:
x_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
7389,667,1,34,5,0.00,2,1,0,163830.64,0,0,1
9275,427,0,42,1,75681.52,1,1,1,57098.00,0,1,0
2995,535,1,29,2,112367.34,1,1,0,185630.76,1,0,0
5316,654,0,40,5,105683.63,1,1,0,173617.09,0,0,1
356,850,1,57,8,126776.30,2,1,1,132298.49,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9225,594,1,32,4,120074.97,2,1,1,162961.79,0,1,0
4859,794,1,22,4,114440.24,1,1,1,107753.07,0,0,1
3264,738,0,35,5,161274.05,2,1,0,181429.87,1,0,0
9845,590,1,38,9,0.00,2,1,1,148750.16,0,0,1
2732,623,1,48,1,108076.33,1,1,0,118855.26,0,1,0

In [61]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [65]:
x_test.shape

(2000, 12)

In [66]:
x_train.shape

(8000, 12)

In [68]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [69]:
 x_train= sc.fit_transform(x_train)
 x_test= sc.fit_transform(x_test)

In [70]:
import tensorflow as tf
from tensorflow import keras

In [74]:
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(8, activation='relu'),
    keras.layers.Dense(8, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=45)

Epoch 1/45
250/250 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7247
Epoch 2/45
250/250 [==============================] - 0s 1ms/step - loss: 0.4564 - accuracy: 0.7965
Epoch 3/45
250/250 [==============================] - 0s 1ms/step - loss: 0.4324 - accuracy: 0.8061
Epoch 4/45
250/250 [==============================] - 0s 984us/step - loss: 0.4183 - accuracy: 0.8176
Epoch 5/45
250/250 [==============================] - 0s 990us/step - loss: 0.4053 - accuracy: 0.8279
Epoch 6/45
250/250 [==============================] - 0s 994us/step - loss: 0.3893 - accuracy: 0.8394
Epoch 7/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3710 - accuracy: 0.8460
Epoch 8/45
250/250 [==============================] - 0s 984us/step - loss: 0.3585 - accuracy: 0.8516
Epoch 9/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8543
Epoch 10/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8555
Epoch 11/45
250/250 [==============================] - 0s 976us/step - loss: 0.3434 - accuracy: 0.8566
Epoch 12/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8565
Epoch 13/45
250/250 [==============================] - 0s 992us/step - loss: 0.3406 - accuracy: 0.8593
Epoch 14/45
250/250 [==============================] - 0s 988us/step - loss: 0.3390 - accuracy: 0.8602
Epoch 15/45
250/250 [==============================] - 0s 991us/step - loss: 0.3379 - accuracy: 0.8608
Epoch 16/45
250/250 [==============================] - 0s 973us/step - loss: 0.3367 - accuracy: 0.8609
Epoch 17/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8634
Epoch 18/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8619
Epoch 19/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8625
Epoch 20/45
250/250 [==============================] - 0s 991us/step - loss: 0.3336 - accuracy: 0.8608
Epoch 21/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8639
Epoch 22/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 23/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8622
Epoch 24/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8644
Epoch 25/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8601
Epoch 26/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8633
Epoch 27/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8648
Epoch 28/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8655
Epoch 29/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3296 - accuracy: 0.8658
Epoch 30/45
250/250 [==============================] - 0s 988us/step - loss: 0.3296 - accuracy: 0.8640
Epoch 31/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8652
Epoch 32/45
250/250 [==============================] - 0s 974us/step - loss: 0.3284 - accuracy: 0.8651
Epoch 33/45
250/250 [==============================] - 0s 951us/step - loss: 0.3278 - accuracy: 0.8656
Epoch 34/45
250/250 [==============================] - 0s 967us/step - loss: 0.3285 - accuracy: 0.8661
Epoch 35/45
250/250 [==============================] - 0s 959us/step - loss: 0.3277 - accuracy: 0.8648
Epoch 36/45
250/250 [==============================] - 0s 957us/step - loss: 0.3265 - accuracy: 0.8658
Epoch 37/45
250/250 [==============================] - 0s 987us/step - loss: 0.3275 - accuracy: 0.8660
Epoch 38/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3275 - accuracy: 0.8650
Epoch 39/45
250/250 [==============================] - 0s 989us/step - loss: 0.3267 - accuracy: 0.8654
Epoch 40/45
250/250 [==============================] - 0s 960us/step - loss: 0.3272 - accuracy: 0.8648
Epoch 41/45
250/250 [==============================] - 0s 971us/step - loss: 0.3268 - accuracy: 0.8652
Epoch 42/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8658
Epoch 43/45
250/250 [==============================] - 0s 984us/step - loss: 0.3257 - accuracy: 0.8655
Epoch 44/45
250/250 [==============================] - 0s 1ms/step - loss: 0.3258 - accuracy: 0.8649
Epoch 45/45
250/250 [==============================] - 0s 947us/step - loss: 0.3258 - accuracy: 0.8652

In [75]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 0s 907us/step - loss: 0.3448 - accuracy: 0.8590

[0.3448092043399811, 0.859000027179718]

In [77]:
y_pred = model.predict(x_test)
y_pred=(y_pred>0.5)

In [78]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [79]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)

In [80]:
cm

array([[1529,   66],
       [ 216,  189]])

In [81]:
from sklearn.metrics import accuracy_score
acc_score= accuracy_score(y_pred, y_test)
acc_score

0.859

In [84]:
from sklearn.metrics import precision_score
prec_score= precision_score(y_pred, y_test)
prec_score

0.4666666666666667

In [85]:
from sklearn.metrics import recall_score
rec_score= recall_score(y_pred, y_test)
rec_score

0.7411764705882353

In [86]:
from sklearn.metrics import f1_score
score= f1_score(y_pred, y_test)
score

0.5727272727272726

In [89]:
classes=['Exited','Not Exited']
from sklearn.metrics import classification_report
report=classification_report(y_test, y_pred, target_names=classes)

In [90]:
print(report,'\n')

              precision    recall  f1-score   support

      Exited       0.88      0.96      0.92      1595
  Not Exited       0.74      0.47      0.57       405

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000