In [2]:
import numpy as np
np.set_printoptions(threshold=np.inf)
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.compose import ColumnTransformer  
#Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# dataset = pd.read_csv('Churn_Modeling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
X_scale = StandardScaler()
X_train[:, [0, 3, 4, 5, 6, 9]] = X_scale.fit_transform(X_train[:, [0, 3, 4, 5, 6, 9]])
X_test[:, [0, 3, 4, 5, 6, 9]] = X_scale.transform(X_test[:, [0, 3, 4, 5, 6, 9]])

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
geography_encoder = OneHotEncoder(dtype=int, drop='first')
gender_encoder = OneHotEncoder(dtype=int, drop='first')
ct = ColumnTransformer([('geography', geography_encoder, [1]), ('gender', gender_encoder, [2])], remainder='passthrough')

X_train = ct.fit_transform(X_train)
X_test = ct.fit_transform(X_test)

In [11]:
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.regularizers import L2

model = Sequential()

In [13]:
regularizer = L2(0.01)

In [14]:
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=32, activation='relu'))

In [15]:
model.add(Dense(units=1, activation='sigmoid'))

In [16]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
model.fit(X_train, y_train, epochs=20)

Epoch 1/20
250/250 [==============================] - 1s 5ms/step - loss: 0.2340 - accuracy: 0.9035
Epoch 2/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2321 - accuracy: 0.9029
Epoch 3/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2314 - accuracy: 0.9024
Epoch 4/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2310 - accuracy: 0.9032
Epoch 5/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2320 - accuracy: 0.9011
Epoch 6/20
250/250 [==============================] - 1s 3ms/step - loss: 0.2303 - accuracy: 0.9047
Epoch 7/20
250/250 [==============================] - 1s 3ms/step - loss: 0.2308 - accuracy: 0.9029
Epoch 8/20
250/250 [==============================] - 1s 3ms/step - loss: 0.2317 - accuracy: 0.9036
Epoch 9/20
250/250 [==============================] - 1s 2ms/step - loss: 0.2298 - accuracy: 0.9026
Epoch 10/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2319 - accuracy: 0.9014
Epoch 11/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2290 - accuracy: 0.9050
Epoch 12/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2297 - accuracy: 0.9039
Epoch 13/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2306 - accuracy: 0.9025
Epoch 14/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2267 - accuracy: 0.9040
Epoch 15/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2291 - accuracy: 0.9054
Epoch 16/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2276 - accuracy: 0.9064
Epoch 17/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2282 - accuracy: 0.9035
Epoch 18/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2290 - accuracy: 0.9035
Epoch 19/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2280 - accuracy: 0.9028
Epoch 20/20
250/250 [==============================] - 0s 2ms/step - loss: 0.2291 - accuracy: 0.9040

In [19]:
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score

predictions = model.predict(X_test)
predictions = (predictions > 0.5)

cm = confusion_matrix(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)

In [22]:
from sklearn.metrics import classification_report

In [23]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.89      0.92      0.90      1595
           1       0.64      0.54      0.59       405

    accuracy                           0.84      2000
   macro avg       0.76      0.73      0.75      2000
weighted avg       0.84      0.84      0.84      2000