In [72]:
"""
Q1. Take this dataset for bank customer churn prediction:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling
1) Build a deep learning model to predict the churn rate at the bank.
2) Once the model is built, print a classification report and analyze precision, recall and
f1-score

Q2. Use Keras mnist dataset from
https://keras.io/api/datasets/fashion_mnist/
Build a neural network. Figure out,
1. Optimal number of hidden layers and neurons in each hidden layer that can give you the
best accuracy
2. Optional accuracy score
"""

#import keras
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import classification_report
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from keras import Sequential, models,layers

In [73]:
df_bank=pd.read_csv("/Churn_Modelling.csv")

In [74]:
df_bank

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [75]:
df_bank['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [76]:
#df_bank.drop(labels=("Surname","RowNumber","Surname"),inplace=True)
df_bank.drop(' Surname',axis='columns',inplace=True)
df_bank.drop('RowNumber',axis='columns',inplace=True)
df_bank.drop('CustomerId',axis='columns',inplace=True)

KeyError: ignored

In [ ]:
df_bank

In [ ]:

pd.to_numeric(df_bank.Balance)
pd.to_numeric(df_bank.EstimatedSalary)

In [ ]:
df_bank.Balance.dtype

In [ ]:
df_bank.EstimatedSalary.dtype

In [ ]:
"""
df1[df1.Churn=='No'].shape

(5163, 20)

tenure_churn_no = df1[df1.Churn=='No'].tenure
tenure_churn_yes = df1[df1.Churn=='Yes'].tenure

plt.xlabel("tenure")
plt.ylabel("Number Of Customers")
plt.title("Customer Churn Prediction Visualiztion")

plt.hist([tenure_churn_yes, tenure_churn_no], rwidth=0.95, color=['green','red'],label=['Churn=Yes','Churn=No'])
plt.legend()


"""

In [ ]:
tenure_churn_no = df_bank[df_bank.Exited==0].Tenure
tenure_churn_yes = df_bank[df_bank.Exited==1].Tenure

In [ ]:
plt.xlabel("tenure")
plt.ylabel("Number Of Customers")
plt.title("Customer Churn Prediction Visualiztion")

plt.hist([tenure_churn_yes, tenure_churn_no], rwidth=0.95, color=['green','red'],label=['Churn=Yes','Churn=No'])
plt.legend()

In [ ]:


def print_unique_col_values(df):
  for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

print_unique_col_values(df_bank)

In [ ]:
df_bank.drop("Geography",axis= 1,inplace=True)

In [ ]:
df_bank

In [ ]:
"""


cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

"""

In [ ]:
cols_to_scale = ['CreditScore','Balance',"Age","NumOfProducts","EstimatedSalary"]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_bank[cols_to_scale] = scaler.fit_transform(df_bank[cols_to_scale])

In [ ]:
df_bank

In [ ]:


X = df_bank.drop('Exited',axis='columns')
y = df_bank['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)
len(X_train.columns)

In [ ]:

model = keras.Sequential([
    keras.layers.Dense(26, input_shape=(9,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

In [ ]:
y_predicted=model.predict(X_test)
y_predicted_label=[np.argmax(i) for i in y_predicted]
print(classification_report(y_test,y_predicted_label))

In [ ]:
(X_train, X_test),(  y_train, y_test) = keras.datasets.fashion_mnist.load_data()#train_test_split(X,y,test_size=0.2,random_state=5)
#len(X_train.columns)

In [ ]:
"""model_cnn=keras.models.Sequential((
    layers.Conv2D(filters=20,kernel_size=(2,2),activation="relu",input_shape=(28,28)),
    layers.MaxPooling2D((2,2)),

    layers.Conv2D(filters=20,kernel_size=(3,3),activation="relu"),
    layers.MaxPooling2D((2,2)),

    layers.Flatten(),
    layers.Dense(20,activation="relu"),
    layers.Dense(10,activation="softmax")

))
#X_train.shape"""